@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/* base styles */

body {
    font-family: 'Bangers', cursive;
    letter-spacing: 3px;
    font-size: 1em;
    text-align: center;
    background: #221a2c;
    color: #fff;

}